:root {
    --font-size : 1.3rem;
    --font-size-title : 2rem;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin: 25px 45px ;
    border: 2px solid #606060;
    border-radius: 40px;
    padding: 60px 40px;
    scroll-behavior: smooth;
    position: relative;
    box-shadow: 10px 8px 16px #606060;
    transition: all 1s ease;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    text-align: center;
}
.detail h3 {
    margin-bottom: 20px;
    word-wrap: break-word;
    font-size: var(--font-size-title);
}
.picture {
    margin-top: 40px;
}
.picture img {
    border-radius: 20px;
}
.tags {
    margin: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tags span {
    color: #fff;
    background-color: #606060;
    padding: 7px;
    border-radius: 10px;
    margin: 15px;
}

@media (max-width: 1000px) {
    :root {
        --font-size : .8rem;
        --font-size-title : 1rem;
        --width-img: 90%;
    }
    .mainContainer {
        margin: 25px 5px ;
        padding: 20px 10px;
    }
    .picture {
        display: grid;
        place-items: center;
    }
    .picture img {
        border-radius: 20px;
        width: var(--width-img);
    }
}