.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #65d;
    color: #fff;
    position: fixed;
    top: 0;
    box-shadow: 0 8px 15px silver;
    z-index: 15;
}
.container {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 0 80px;
}
.cartShop{
    position: relative;
}
.cartShop span {
    background-color: #f00;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: -5px;
}

.container a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: all .2s linear;
}
.container a:hover {
    border-radius: 15px;
    background-color: #fff;
    color: #65d;
}