.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #65d;
    color: #fff;
    position: fixed;
    top: 0;
    box-shadow: 0 8px 15px #2a2a2a;
    z-index: 15;
}
.container {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 0 80px;
}
.cartShop{
    position: relative;
}
.cartShop span {
    background-color: #f00;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: -5px;
}

.container a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: all .2s linear;
}
.container a:hover {
    border-radius: 15px;
    background-color: #fff;
    color: #65d;
}
.container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.container ul li {
    margin-right: 25px;
}
.humbergur {
    width: 4rem;
    height: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.humbergur div:nth-child(1),
.humbergur div:nth-child(2),
.humbergur div:nth-child(3)
{
    width: 4rem;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: 8px;
    transition: all .4s ease-in;
}


@media (max-width: 970px) {
    .container {
        padding: 5px 15px;
    }
    .container ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 80vw;
        height: 100vh;
        position: fixed;
        top: 0; left: 0;
        background-color: #65d;
        z-index: 4;
        transition: all .4s linear;
        transform: translateX(-100%);
    }
    .container ul li {margin: 20px 0;}
    .humbergur {
        display: flex;
        z-index: 8;

    }
}